 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

    body {
      height: 100vh;
      width: 100%;
      background: url("bg.jpg") no-repeat center center/cover;
      position: relative;
      color: white;
    }

    /* Overlay */
    body::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.55);
      z-index: 0;
    }

    /* Navbar */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      position: relative;
      z-index: 2;
    }

    nav .logo {
      font-size: 28px;
      font-weight: bold;
      color: #fffffff7;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
      transition: 0.3s;
    }

    nav ul li a:hover {
      color: #ff1add;
    }

    /* Login box */
    .login-box {
      position: relative;
      z-index: 2;
      background: rgba(0, 0, 0, 0.6);
      max-width: 350px;
      margin: 100px auto;
      padding: 40px;
      border-radius: 12px;
      text-align: center;
    }

    .login-box h2 {
      margin-bottom: 20px;
      font-size: 26px;
      color: #fff;
    }

    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }

    .input-group input {
      width: 100%;
      padding: 12px 15px;
      border-radius: 8px;
      border: none;
      outline: none;
      background: rgba(255,255,255,0.1);
      color: white;
      font-size: 14px;
    }

    .input-group input::placeholder {
      color: #ddd;
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      margin: 10px 0;
    }

    .options label {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .options a {
      color: #ccc;
      text-decoration: none;
    }

    .options a:hover {
      color: #ff471a;
    }

    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 25px;
      background: linear-gradient(45deg, #ff00cc, #3333ff);
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      opacity: 0.85;
    }

    .signup-link {
      margin-top: 15px;
      font-size: 14px;
    }

    .signup-link a {
      color: #ffffffff;
      text-decoration: none;
      font-weight: bold;
    }

    .signup-link a:hover {
      text-decoration: underline;
    }